.valign-wrapper{
	 width:100%;
	 height:50%;
	 position:absolute;
}

.centered{
	margin: 0 auto;
}

.collapsible-header{
	padding: 0;
	border: none ;
}

.collapsible-body{
	padding: 0px;
}

.active{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12), 6px 4px 12px rgba(0,0,0,0.15) !important;
}

.iconSize{
	font-size: 48px !important;
	color: #2d3e9c;
}

pre{
	margin: 0;
}

.title{
	margin-left: 2rem;
	font-style: italic;
	font-weight: 500;
}

.dropdown-content li a{
	color: #3f51b5 !important;
	font-weight: 480;
}

.mobileSubtitle{
	margin-top: 2rem;
	margin-left: 1.9rem;
	font-size: 1.6rem;
	color: #513fb5;
	font-weight: 700;
	font-style: italic;
}

.mobileList{
	padding-left: 4.2rem !important;
}

.fileContent{
	position: absolute;
	top: 22px;
	left: 64px;
	font-style: italic;
	font-size: 1.6rem;
	font-family: "Roboto";
	
}

.imgContainer{
	position: relative;
}

.showDir ul, .showDir li {
     position: relative;
}

.showDir ul {
    list-style: none;
    padding-left: 16px;
}

.showDir li::before, .showDir li::after {
    content: "";
    position: absolute;
    left: -10px;
}

.showDir
 li::before {
    border-top: 1px solid #c4c4c4;
    top: 9px;
    width: 8px;
    height: 0;
}

.showDir
 li::after {
    border-left: 1px solid #c4c4c4;
    height: 100%;
    width: 0px;
    top: 2px;
}

.filenames{
	vertical-align: top;
}

.showDir li:last-of-type{
	border: none;
}

.showDir{
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #fffdf7;
	box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.14),
				inset 0 3px 1px -2px rgba(0,0,0,0.12),
				inset 0 1px 5px 0 rgba(0,0,0,0.2)
}

.showDir .material-icons{
	margin-right: 0.2rem;
	/*font-size: 1.2rem;*/
}

h6{
	font-weight: 480;
}